{% extends "cryptobase.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>CryptoWallet - Edit Profile</title>{% endblock %}

    
    <style>
    {% block style %}
        .edit-info .row {
            margin: 10px;
        }
        .block {
            background:white;
        }
    {% endblock %}
    </style>
    

    </head>

<body>
    {% block content %}
    <!-- <script>
        $(document).ready(function(){
            $("#newBTC").click(function(){
                $("profile_form").submit();
            })
        })
    </script> -->
    <section class="ftco-section ftco-section-2" id="navigationTabs">
        <div class="container edit-info">
            <div class="row justify-content-center">

                <div class="col-lg-6 mb-5 mb-md-0" style="opacity: 0.95">

                    <h2 class="block heading-section mb-3">
                        <center>Edit Profile</center>
                    </h2>

                    <form id='profile_form' method='post'>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                {{form.FirstName}}
                            </div>
                            <div class="col">
                                {{form.LastName}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{form.Email}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                {{form.BTC}}
                            </div>
                            <div class="col-2">
                                <a href="{% url 'crypto:profile'%}?newbtc=1" type="button" id="newBTC" class="btn btn-primary">+</a>
                                <!-- <button type="button" id="newBTC" class="btn btn-primary">+</button> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                {{form.ETH}}
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-primary">+</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                {{form.LTC}}
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-primary">+</button>
                            </div>
                        </div>

                        <div class="footer text-center">
                            <button class="primaryAction btn btn-success w-50" type="submit">Save</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>



</html>